.list
	display: grid
	grid-template-columns: repeat(3, 1fr)
	gap: 15px
	text-align: center
	@include media-breakpoint-down(lg)
		grid-template-columns: repeat(2, 1fr)
	@include media-breakpoint-down(md)
		grid-template-columns: repeat(1, 1fr)
	&__item
		background-color: $bg
		border-radius: $rad
		text-decoration: none
		padding: 30px 20px
		border: 1px solid $border
	&__item-count
		display: flex
		align-items: center
		justify-content: center
		margin: 0 auto
		margin-bottom: 10px
		font-size: 26px
		width: 50px
		height: 50px
		border-radius: 50px
		border: 1px solid $dark
		padding-top: 1px
	&__item-title
		font-weight: 700
		font-size: 18px
	&__item-lvl
		font-size: 14px
		&[data-lvl="1"]
			.star
				&:nth-child(1)
					color: gold
		&[data-lvl="2"]
			.star
				&:nth-child(1),
				&:nth-child(2)
					color: gold
		&[data-lvl="3"]
			.star
				&:nth-child(1),
				&:nth-child(2),
				&:nth-child(3)
					color: gold
		&[data-lvl="4"]
			.star
				&:nth-child(1),
				&:nth-child(2),
				&:nth-child(3),
				&:nth-child(4)
					color: gold
		&[data-lvl="5"]
			.star
				&:nth-child(1),
				&:nth-child(2),
				&:nth-child(3),
				&:nth-child(4),
				&:nth-child(5)
					color: gold

.stars
	padding-top: 10px

.star
	position: relative
	color: $border
	font-size: 18px
	&::after
		content: '★'
		